<h1>Storyboard</h1>
<p>Welcome to Storyboard</p>
{{#if character_add_error}}
<p>{{character_add_error}}</p>
{{/if}}
<div class="d-flex flex-row">
    {{#each myArray}}
    <div id="wrapper-{{sceneid}}" class="sticky card text-white bg-dark mb-3" style="width: 25rem;">
        <div class="border-dark mb-3 col-sm">
            <button class = "delete-btn fas fa-window-close btn btn-outline-secondary" value={{sceneid}}></button>
            <h2>{{sceneid}}</h2>
            <h3 class="display-title card-title">{{title}}</h3>
            <p class="display-body card-text editable">Body: {{body}} </p>
            <p class="display-location card-text">Location: {{location}} </p>
            <p class="display-character card-text">Characters: <ul>{{#each characters}}<li id="remove-{{characterSceneId}}">{{name}} <button value="{{characterSceneId}}" class="remove-btn btn btn-outline-secondary">{{characterSceneId}} Remove</button></li>{{/each}}</p> 
            <p class="display-pov card-text">POV: {{pov}}</p>
        

            <form action="http://localhost:3000/sceneedit" id="form{{sceneid}}">
                <div>
                    Title: <input type="text" name="title" class="title"><br />
                    Scene-Body: <input type="text" name="body" class="body"><br />
                    Scene-Location: <input type="text" name="location" class="location"><br />
                    POV:  <input type="text" name="pov" class="pov"><br />
                        {{!-- Characters: <label for="characters" name="selectname">Characters in the Scene</label><br />
                        <select name="characters">
                            {{#each ../cArray}}
                            <option value={{characterid}} name="cname">{{name}}</option>
                            {{/each}}
                        </select>
                        <button class="add-btn" value={{sceneid}} >Add</button> --}}
                        <br />
                    <button class = "edit-btn btn btn-outline-secondary" value={{sceneid}}>Edit</button>
                </div>
            </form>

            <form action= "http://localhost:3000/add-character" method="POST">
                Characters: <label for="characters" name="selectname">Characters in the Scene</label><br />
                <input type="text" name="id" value={{sceneid}} class="hidden" readonly> <br />
                <select name="characters">
                    {{#each ../cArray}}
                    <option value="{{characterid}}" name="cname">{{name}}</option>
                    {{/each}}
                </select>
                <button class="add-btn btn btn-outline-secondary" type="submit" value="Submit" >Add</button>
            </form>

                {{!-- Characters: <label for="characters" name="selectname">Characters in the Scene</label><br />
                <input type="text" name="id" value={{sceneid}} class="hidden" readonly> <br />
                <select name="characters">
                    {{#each ../cArray}}
                    <option value="{{characterid}}" name="cname">{{name}}</option>
                    {{/each}}
                </select>
                <button class="remove-btn" value={{sceneid}}>Remove</button>

            <button class = "delete-btn" value={{sceneid}}>Delete</button> --}}

            {{!-- Characters: <label for="characters" name="selectname">Characters in the Scene</label><br />
                <input type="text" name="id" value="{{character_scene_id}}" class="hidden" readonly> <br />
                    {{#each ../rArray}}add
                    <p value="{{character_scene_id}}" name="cname">{{name}}</option> <button class="remove-btn" value={{character_scene_id}}>Remove</button><br />
                    {{/each}} --}}
        </div>
        <div class="card-handle"></div>
                
    </div>
        
        
    {{/each}}
    <button class="expand-btn far fa-plus-square btn btn-outline-dark" onclick="clickfunc()">
    </button>
    <div class="submit-list">
        <h2 id="above">Submit Form</h2>
        <div>
            <form action="http://localhost:3000/post-button" method="POST" id="post-submit">
                Title: <input type="text" name="title" class="title"><br />
                Scene-Body: <input type="text" name="body" class="body"><br />
                Scene-Location: <input type="text" name="location" class="location"><br />
                POV:  <input type="text" name="pov" class="pov"><br />
                Characters: <label for="characters" name="selectname">Characters in the Scene2</label><br />
                    <select name="characters" class="characters">
                        {{#each cArray}}
                        <option value={{characterid}} name="cname"> {{name}}</option>
                        {{/each}}
                    </select>
                <input type="submit" value="Submit" id="post-button" class="btn btn-outline-dark">
            </form>
        </div>


        <h2>Character Creation</h2><br />
        <div>
            <form action="http://localhost:3000/post-character" method="POST">
                Character Name: <input type="text" name="cname"><br />
                Age: <input type="number" name="age"><br />
                Sex: <input type="text" name="sex"><br />
                Relationship: <input type="text" name="relationship"><br />
                Abilities: <input type="text" name="abilities"><br />
                History: <input type="text" name="history"><br />
            <input type="submit" value="Submit" class="btn btn-outline-dark">
            </form>
        </div>
    </div>

    <div id="msgid"></div>
    <div>TESTING</div>
</div>




<script>
    var buttons = document.querySelectorAll(".delete-btn");
    var eButtons = document.querySelectorAll(".edit-btn");
    //var aButtons = document.querySelectorAll(".add-btn");
    var rButtons = document.querySelectorAll(".remove-btn");
    var pButton = document.getElementById("post-button");

   /* 
    pButton.addEventListener("click", function(event){
        event.preventDefault();

            //var id = parseInt(event.target.value); 
            var ptitle = document.querySelector(`#post-submit .title`).value;
            var pbody = document.querySelector(`#post-submit .body`).value;
            var plocation = document.querySelector(`#post-submit .location`).value;
            var ppov = document.querySelector(`#post-submit .pov`).value;
            var pcharacter = document.querySelector(`#post-submit .characters`).value;


            var putarray = {
                title: ptitle,
                body: pbody,
                location: plocation,
                pov: ppov,
                characters: pcharacter,
            }
        
        fetch("http://localhost:3000/post-button", {
            method: "POST",
            headers: {"Content-Type": "application/json",},
            body: JSON.stringify(putarray),
        }).then((res) => {
            //alert("This is a test.");
            return res.json();
        }).then((json) => {
            var place = document.getElementById("above");
            place.insertAdjacentHTML('beforebegin', `<div id="wrapper-${json.sceneid}"><h2>${json.sceneid}</h2><h2 class="display-title">${ptitle}</h2><p class="display-body">Body: ${pbody} </p><p class="display-location">Location: ${plocation} </p><p class="display-character">Characters: <ul>{{#each characters}}<li id="remove-{{characterSceneId}}">{{name}} <button value="{{characterSceneId}}" class="remove-btn">{{characterSceneId}} Remove</button></li>{{/each}}</p> <p class="display-pov">POV: {{pov}}</p><form action="http://localhost:3000/sceneedit" id="form{{sceneid}}">Title: <input type="text" name="title" class="title"><br />Scene-Body: <input type="text" name="body" class="body"><br />Scene-Location: <input type="text" name="location" class="location"><br />POV:  <input type="text" name="pov" class="pov"><br />{{!-- Characters: <label for="characters" name="selectname">Characters in the Scene</label><br /><select name="characters">{{#each ../cArray}}<option value={{characterid}} name="cname">{{name}}</option>{{/each}}</select><button class="add-btn" value=${json.sceneid}  >Add</button> --}}<br /><button class = "edit-btn" value=${json.sceneid} >Edit</button></form><form action= "http://localhost:3000/add-character" method="POST">Characters: <label for="characters" name="selectname">Characters in the Scene</label><br /><input type="text" name="id" value=${json.sceneid} class="hidden" readonly> <br /><select name="characters">{{#each ../cArray}}<option value="{{characterid}}" name="cname">{{name}}</option>{{/each}}</select><button class="add-btn" type="submit" value="Submit" >Add</button></form>{{!-- Characters: <label for="characters" name="selectname">Characters in the Scene</label><br /><input type="text" name="id" value={{sceneid}} class="hidden" readonly> <br /><select name="characters">{{#each ../cArray}}<option value="{{characterid}}" name="cname">{{name}}</option>{{/each}}</select><button class="remove-btn" value={{sceneid}}>Remove</button><button class = "delete-btn" value={{sceneid}}>Delete</button> --}}Characters: <label for="characters" name="selectname">Characters in the Scene</label><br /><input type="text" name="id" value="{{character_scene_id}}" class="hidden" readonly> <br />{{#each ../rArray}}<p value="{{character_scene_id}}" name="cname">{{name}}</option> <button class="remove-btn" value={{character_scene_id}}>Remove</button><br />{{/each}}<button class = "delete-btn" value=${json.sceneid}>Delete</button></div>`);

        });
    });
    */

    rButtons.forEach(function(element){
        element.addEventListener("click", function(event){
            // console.log(event); 
            
            var id = event.target.value;
            const wrapper = document.querySelector(`#remove-${id}`);
            wrapper.remove();
            //const wrapper = document.querySelector(`#wrapper-${id}`);
            //wrapper.remove();
            
            console.log("ID: " + id);
            fetch("http://localhost:3000/remove-char/" + id, {
                method: "DELETE"
            })
        });
    });

    buttons.forEach(function(element){
        element.addEventListener("click", function(event){
            // console.log(event); 
            
            var id = event.target.value;
            const wrapper = document.querySelector(`#wrapper-${id}`);
            wrapper.remove();
            
            console.log("ID: " + id);
            fetch("http://localhost:3000/scene/" + id, {
                method: "DELETE"
            })
        });
    });

    eButtons.forEach(function(element){
        console.log(element);
        element.addEventListener("click", (event) => {
            event.preventDefault();
            console.log("ID: " +  event.target.value);
            console.log(event);
            var id = parseInt(event.target.value); 
            var ptitle = document.querySelector(`#form${id} .title`).value;
            var pbody = document.querySelector(`#form${id} .body`).value;
            var plocation = document.querySelector(`#form${id} .location`).value;
            var ppov = document.querySelector(`#form${id} .pov`).value;

            var putarray = {
                sceneid: id,
                title: ptitle,
                body: pbody,
                location: plocation,
                pov: ppov,
            }

            const wrapper = document.querySelector(`#wrapper-${id}`);
            if (wrapper == null) {
                console.log(`wrapper for id: ${id} does not exist`);
                return;
            }

            // body, location, characters, pov
            const title = wrapper.querySelector('.display-title');
            const body = wrapper.querySelector('.display-body');
            const location = wrapper.querySelector('.display-location');
            const characters = wrapper.querySelector('.display-characters');
            const pov = wrapper.querySelector('.display-pov');


            var emptyStringCheck = (strng) => {
                if(strng == null || strng == ""){
                    strng = "Please enter more information.";
                    console.log("strng: " + strng);
                }
                return strng; 
            }

            title.textContent = emptyStringCheck(ptitle);
            body.textContent = `Body: ` + emptyStringCheck(pbody);
            location.textContent = 'Location: ' + emptyStringCheck(plocation);
            pov.textContent = `POV: ` + emptyStringCheck(ppov);

            fetch("http://localhost:3000/sceneedit/" + id, {
                method: "PUT",
                headers: {"Content-Type": "application/json",},
                body: JSON.stringify(putarray),
            });
        });
        /*
        aButtons.forEach(function(element){
            element.addEventListener("click", (event) =>{
                event.preventDefault();
                var id = parseInt(event.target.value);
                console.log("aButton ID: " + id);
                //var charid = 
                fetch("http://localhost:3000/add-character/" + id, {
                    method: "PUT",
                    headers: {"Content-Type": "application/json",},
                    body: JSON.stringify(id),
                });
            });
        });
        */
    });

    function clickfunc(){
            var element = document.querySelector(".submit-list");
            element.classList.toggle("visible");
        }

    
     
</script>
